# AWS
*.pem

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# CloudFormation
outputs/

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# Logs
*.log

# Environment
.env

# Documentation
doc/*

# Documentation files
*.pdf
*.doc
*.docx
*.md
*.jpg
*.png
